src/main/resources/wsdl/archive.wsdl

<definitions name="ArchiveService"
             targetNamespace="http://rafalovich.epam.by/wsdl/ArchiveService.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://rafalovich.epam.by/wsdl/ArchiveService.wsdl"
             xmlns:xsd="http://rafalovich.epam.by/ArchiveService.xsd">

    <types>
        <schema targetNamespace="http://rafalovich.epam.by/ArchiveService.xsd"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://rafalovich.epam.by/ArchiveService.xsd">

            <element name="recordCriteriaType" type="tns:RecordCriteriaType"/>
            <element name="archive" type="tns:Archive"/>
            <element name="senderArchive" type="tns:SenderArchive"/>
            <element name="senderCriteriaType" type="tns:SenderCriteriaType"/>

            <complexType name="SenderCriteriaType">
                <choice>
                    <element name="id" type="positiveInteger" />
                    <element name="name" type="string"/>
                    <element name="email" type="string"/>
                    <element name="fax" type="string"/>
                    <element name="number" type="string"/>
                </choice>
            </complexType>

            <complexType name="SenderArchive">
                <sequence minOccurs="0" maxOccurs="1">
                    <element name="sender" type="tns:SenderType" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="RecordCriteriaType">
                <sequence minOccurs="0" maxOccurs="1">
                    <element name="senderId" type="positiveInteger" minOccurs="0"/>
                    <element name="recipientContact" type="string" minOccurs="0"/>
                    <element name="operationType" type="tns:OperationType" minOccurs="0"/>
                    <element name="startDateTime" type="dateTime" minOccurs="0"/>
                    <element name="endDateTime" type="dateTime" minOccurs="0"/>
                </sequence>
            </complexType>

            <complexType name="SenderType">
                <sequence minOccurs="1" maxOccurs="1">
                    <element name="id" type="integer" minOccurs="0"/>
                    <element name="senderName" type="string"/>
                    <element name="senderInfo" type="tns:SenderInfoType"/>
                </sequence>
            </complexType>

            <complexType name="SenderInfoType">
                <sequence minOccurs="1" maxOccurs="1">
                    <element name="id" type="integer" minOccurs="0"/>
                    <element name="phoneNumber" type="string"/>
                    <element name="fax" type="string"/>
                    <element name="email" type="string"/>
                </sequence>
            </complexType>

            <complexType name="RecipientType">
                <sequence minOccurs="1" maxOccurs="1">
                    <element name="id" type="integer" minOccurs="0"/>
                    <element name="recipientContact" type="string"/>
                    <element name="channelType" type="tns:CommunicationChannelType"/>
                </sequence>
            </complexType>

            <simpleType name="CommunicationChannelType">
                <restriction base="string">
                    <enumeration  value="SMS"/>
                    <enumeration value="EMAIL"/>
                    <enumeration value="FAX"/>
                </restriction>
            </simpleType>

            <complexType name="Archive">
                <sequence minOccurs="0" maxOccurs="1">
                    <element name="record" type="tns:CommunicationRecordType" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="CommunicationRecordType">
                <sequence minOccurs="1" maxOccurs="1">
                    <element name="id" type="integer" minOccurs="0"/>
                    <element name="operation" type="tns:OperationType" minOccurs="0"/>
                    <element name="sender" type="tns:SenderType" minOccurs="0"/>
                    <element name="recipient" type="tns:RecipientType" minOccurs="0"/>
                    <element name="dateTime" type="dateTime" minOccurs="0"/>
                </sequence>
            </complexType>

            <simpleType name="OperationType">
                <restriction base="string">
                    <enumeration value="RESERVATION_CONFIRMATION"/>
                    <enumeration value="RESERVATION_CANCELLATION"/>
                    <enumeration value="RESERVATION_CHANGING"/>
                </restriction>
            </simpleType>
        </schema>
    </types>


    <!--findSender by criteriaList-->
    <message name="FindSenderRequest">
        <part name="senderRequest" type="xsd:SenderCriteriaType"/>
    </message>
    <message name="FindSenderResponse">
        <part name="senderResponse" type="xsd:SenderType"/>
    </message>

    <!--find all senders-->
    <message name="Empty">
    </message>
    <message name="FindAllSendersResponse">
        <part name="senderArchiveResponse" type="xsd:SenderArchive"/>
    </message>

    <!--delete senders-->
    <message name="DeleteRequest">
        <part name="deleteRequest" type="xsd:SenderType"/>
    </message>
    <message name="DeleteResponse">
    </message>

    <!--update senders-->
    <message name="UpdateRequest">
        <part name="updateRequest" type="xsd:SenderType"/>
    </message>
    <message name="UpdateResponse">
    </message>

    <!--create senders-->
    <message name="CreateRequest">
        <part name="createRequest" type="xsd:SenderType"/>
    </message>
    <message name="CreateResponse">
    </message>

    <!--  Find Records by CriteriaList   -->
    <message name="FindRecordsRequest">
        <part name="request" type="xsd:RecordCriteriaType"/>
    </message>
    <message name="FindRecordResponse">
        <part name="response" type="xsd:Archive"/>
    </message>


    <!--  archive portType  -->
    <portType name="ArchivePortType">
        <operation name="searchRecords">
            <input message="tns:FindRecordsRequest"/>
            <output message="tns:FindRecordResponse"/>
        </operation>

        <operation name="findSenders">
            <input message="tns:Empty"/>
            <output message="tns:FindAllSendersResponse"/>
        </operation>

        <operation name="findSender">
            <input message="tns:FindSenderRequest"/>
            <output message="tns:FindSenderResponse"/>
        </operation>

        <operation name="createSender">
            <input message="tns:CreateRequest"/>
            <output message="tns:CreateResponse"/>
        </operation>

        <operation name="updateSender">
            <input message="tns:UpdateRequest"/>
            <output message="tns:UpdateResponse"/>
        </operation>

        <operation name="deleteSender">
            <input message="tns:DeleteRequest"/>
            <output message="tns:DeleteResponse"/>
        </operation>
    </portType>

    <!--  archive binding  -->
    <binding name="ArchiveBinding" type="tns:ArchivePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="searchRecords">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/searchRecords"/>
                <input>
                    <soap:body use="literal" />
                </input>
                <output>
                    <soap:body use="literal" />
                </output>
        </operation>

        <operation name="findSenders">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/findSenders"/>

            <output>
                <soap:body use="literal" />
            </output>
        </operation>


        <operation name="findSender">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/findSender"/>

            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>


        <operation name="createSender">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/createSender"/>

            <input>
                <soap:body use="literal" />
            </input>

        </operation>

        <operation name="deleteSender">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/deleteSender"/>

            <input>
                <soap:body use="literal" />
            </input>

        </operation>

        <operation name="updateSender">
            <soap:operation soapAction="http://rafalovich.epam.by/soap/updateSender"/>

            <input>
                <soap:body use="literal" />
            </input>

        </operation>
    </binding>

    <!--  archive service  -->
    <service name="ArchiveService">
        <documentation>WSDL File for ArchiveService</documentation>
        <port binding="tns:ArchiveBinding" name="ArchivePort">
            <soap:address location=""/>
        </port>
    </service>

</definitions>